@homecolor:#fff333;

html {
    background-color: @homecolor;
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 4px;
    background-color: #333;
    transition:transform 1s;
}
.bigbox{
    height: 400px;
    width: 400px;
    border: 4px;
}
.sbox{
    height: 100px;
    width: 100px;
    border: 4px;
}
.ssbox{
    height: 20px;
    width: 50px;
    border: 4px;
}
